extends ../layaut/index
block  contenido
  div 
     h1.text-4xl.my-10.font-extrabold.text-center Bienes
       span.font-normal Raices 


     h2.text-center.text-2xl.font-extrabold #{pagina}

     
     if errores
        div(class="max-w-md mx-auto my-10")
          each error in errores
             p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

       
        //- aqui estamos creando un formulario 

     div.mt-8.mx-auto.max-w-md
          div.bg-white.py-8.px-4.shadow
             // i have to put this method="POST" action="/auth/olvidePassword" here. to be able set the formular 
             form(method="POST" action="/auth/olvidePassword" noValidate)
                input(type="hidden" name="_csrf" value=csrfToken) 

               
                div   
                    
                   label.block.text-sm.uppercase.text-gray-700.mb-1.font.bold(for="email") Tu Email
                   input#email.w-full.mb-2.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Email" type="email" name="email" value= usuario ? usuario.email: " ")
                   
                div.flex.items-center.justify-between.mb-2
                   a.text-gray-500.text-xs(href="/auth/login")   ¿ya tiene cuenta? Iniciar Sesion
                   a.text-gray-500.text-xs(href="/auth/registro")  ¿no tienes cuenta? Crear Cuenta


                input(class="w-full bg-indigo-600 hover:bg-indigo-400 ndigo text-white font-bold py-3 cursor-pointer" type="submit" value=" enviar instrucciones")      