header.bg-indigo-600.p-3
    div(class="flex container mx-auto justify-between flex-col md:flex-row items-center gap-2")
       a(href="/") 
            h1.text-4xl.my-3.font-extrabold.text-center.text-white Bienes
                span.font-normal Raices 

       nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white  ") 
           a(class="bg-indigo-800 py-2 px-10 rounded-lg font-bold cursor-pointer m-1" href="/auth/registro") Crear Cuenta
           a(class="bg-indigo-800 py-2 px-10 rounded-lg font-bold cursor-pointer" href="/auth/login") Iniciar Sesión
div(class="bg-indigo-700 py-5 hidden lg:block mt-1" )
    div(class="container mx-auto flex justify-between")
        nav(class="flex gap-4 items-center ")
            a(href="/categoria/1" class="text-sm ml-2 font-bold uppercase text-white") Casas 
            a(href="/categoria/2" class="text-sm font-bold uppercase text-white") Departamentos 
            a(href="/categoria/3" class="text-sm font-bold uppercase text-white") Bodegas 
            a(href="/categoria/4" class="text-sm font-bold uppercase text-white") Terrenos 
            a(href="/categoria/5" class="text-sm font-bold uppercase text-white") Cabañas 

        form(action="/buscador" method="POST" class="flex gap-3 items-center") 
            input(type="hidden" name="_csrf" value= csrfToken) 
            laber(for="termino" class="text-sm uppercase font-bold text-white ") Búsqueda 
            input(type="text" id="termino" name="termino" placeholder="Buscar Propiedad" class="p-2 rounded-lg shadow" )

            input(type="submit" class="bg-indigo-800 hover:bg-indigo-400 rounded uppercase text-white font-bold p-2 cursor-pointer" value="buscar")